#message
        h1 Hi
        h3 How are you babe

        body
        .wrap
                .profile.hide
                        a(href='/About_you').menu
                                p Sublinks to...About_You
                        a(href='/Still_you').menu
                                p Sublinks to...Still_you
                        a(href='/And_you_again').menu
                                p Sublinks to...And_you_again